/* ####################### Whole Body ####################### */
body {
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  padding-top: 90px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* ####################### NavBar ####################### */
.nav-logo {
  width: 200px;
  align-self: center;
}
.nav {
  background-color: rgb(10, 10, 10);
  padding: 0 5vw;
  text-align: center;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 90vw;
  top: 0;
  z-index: 100;
}
.pum-appear {
  transform: translateX(250px);
}
.pop-up-menu {
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  justify-content: center;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  right: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 100;
}
.pum-nav-items {
  padding: 0;
  list-style-type: none;
}
.pum-nav-item {
  margin-bottom: 8vh;
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}
.pum-nav-item:hover {
  transform: scale(1.1);
}
.nav-item {
  display: inline-block;
  /* margin-left: 5vw; */
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  margin-right: 3vw;
}
.nav-item:hover {
  transform: scale(1.1);
}
.nav-item-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}
.nav-item-link:hover {
  color: rgb(110, 229, 62);
}
.contact {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(110, 229, 62);
  display: flex;
  width: 180px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .nav-items {
    display: none;
  }
  .burguer-menu {
    color: rgb(255, 255, 255);
    width: 40px;
    height: auto;
    position: absolute;
    top: 25px;
    left: 5vw;
  }
  .burguer-menu:hover {
    color: rgb(110, 229, 62);
  }
  .nav {
    justify-content: center;
  }
}
@media only screen and (min-width: 1000px) {
  .nav-items {
    padding: 0;
    list-style-type: none;
    margin-left: 3vw;
  }
  .burguer-menu {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .nav-items {
    padding: 0;
    list-style-type: none;
    margin-left: 5vw;
  }
}
@media only screen and (max-width: 1200px) {
  .nav-item {
    font-size: 14px;
  }
  .nav-items {
    width: 75vw;
    margin-right: 0;
  }
}

/* ####################### Footer ####################### */
.footer {
  background-color: rgb(10, 10, 10);
  width: auto;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 10vw;
  justify-content: space-between;
}
.footer-text {
  font-weight: 400;
  font-size: 15px;
}

/* ####################### Toggle de idioma ####################### */
.toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 100px;
  border-style: solid;
  border-color: rgb(84, 180, 45);
  border-width: 2 px;
  background-color: rgb(10, 10, 10);
  padding: 2px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 100;
}
.lang {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  font-size: 15px;
  border-radius: 50px;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.non-selected-lang {
  color: rgb(255, 255, 255);
}
.non-selected-lang:hover {
  color: rgb(84, 180, 45);
}
.selected-lang {
  color: rgb(255, 255, 255);
  background-color: rgb(95, 189, 58);
}
.translate-toggle {
  transform: translateX(40px);
}

/* ####################### Home ####################### */
.home-container {
  min-height: calc(95vh - 180px);
}
.home-section1-container {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
}
.mini-fifa {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: auto;
}
.home-logo {
  width: 80%;
  height: auto;
  margin-bottom: 100px;
  z-index: 99;
}
.home-logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-background {
  height: 100%;
  width: auto;
  position: absolute;
}

.home-section2-container {
  justify-self: center;
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-section2-logo {
  display: none;
  width: auto;
}
.home-section2-content-container {
  padding: 8vw 12vw 8vw 12vw;
  width: 100vw;
  text-align: center;
}
.home-section2-title {
  font-size: 25px;
  text-decoration-line: underline;
  text-decoration: underline solid white 3px;
  text-underline-offset: 20px;
  line-height: 60px;
}
.home-section2-content {
  font-size: 15px;
  line-height: 2;
}

.home-section3-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section3-background {
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: auto;
  min-width: 100%;
}
.home-section3-content-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8vw;
  margin: 6vw;
  position: static;
  z-index: 1;
  text-align: center;
}
.home-section3-text-container {
  width: 100%;
}
.home-section3-title {
  font-size: 25px;
}
.home-section3-separator {
  width: 90%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}
.home-section3-content {
  font-size: 15px;
  line-height: 2;
}
.home-section3-fifa {
  display: block;
  width: 100%;
  height: auto;
  max-width: 400px;
}

.home-section4-container {
  text-align: center;
}
.home-section4-galery {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.3);
  align-content: center;
}
.home-section4-galery-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-section4-galery-item {
  width: 300px;
  height: 350px;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.home-section4-galery-item:hover {
  transform: scale(1.05);
}
.home-section4-galery-item-img {
  width: 300px;
  height: 180px;
}
.home-section4-galery-item-text-container {
  padding: 8% 8% 0 8%;
}
.home-section4-galery-item-title {
  margin-top: -20px;
  text-decoration-line: underline;
  text-decoration: underline solid white 2px;
  text-underline-offset: 10px;
}
.home-section4-galery-item-content {
  margin-top: -10px;
  margin-bottom: 0;
}

@media (orientation: landscape) {
  .home-section1-container {
    height: 650px;
  }
  .home-background {
    width: 100%;
  }
  .mini-fifa {
    right: 50px;
    bottom: 50px;
    height: 80px;
  }
  .home-logo {
    width: 50%;
  }
}
@media only screen and (min-width: 800px) {
  .home-section3-content {
    font-size: 16px;
    line-height: 2.3;
  }
  .home-section3-text-container {
    width: 50%;
    margin-right: 10vw;
  }
  .home-section3-fifa {
    max-width: 40%;
  }
  .home-section3-content-container {
    padding: 2vw 5vw;
    flex-direction: row;
    text-align: left;
  }
  .home-section2-logo {
    display: inline;
    width: 40%;
  }
  .home-section2-container {
    height: 400px;
    padding: 0 5vw;
    width: 88vw;
  }
  .home-section2-content-container {
    width: 40%;
    padding: 2vw 0 2vw 5vw;
    text-align: left;
  }
  .home-section2-title {
    font-size: 30px;
    text-decoration: underline solid white 3px;
    text-underline-offset: 18px;
  }
  .home-section2-title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1000px) {
  .home-section3-background {
    left: auto;
  }
  .home-section4-galery {
    justify-content: center;
  }
}
@media only screen and (min-width: 1200px) {
  .home-section3-content {
    font-size: 20px;
  }
  .home-section2-content {
    font-size: 20px;
    line-height: 2.3;
  }
  .home-section3-text-container {
    width: 50%;
    margin-right: 10vw;
  }
  .home-section3-content-container {
    padding: 2vw 5vw;
    flex-direction: row;
    text-align: left;
  }
  .home-section3-background {
    left: auto;
  }
  .home-section4-galery {
    justify-content: center;
  }
}

/* ####################### Products ####################### */
.products-container {
  min-height: calc(95vh - 180px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.products-background {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: auto;
  min-width: 100%;
  align-self: center;
}
.products-title {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 50px;
  margin-bottom: 10px;
}
.products-section-container {
  width: 80vw;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.products-section-title {
  text-align: left;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin: 0;
  font-size: 35px;
}
.products-section-separator {
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 15px 0;
}
.products-section-products-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.products-product-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  height: 400px;
  /* -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px); */
  margin-bottom: 40px;
}

.products-product-header-container {
  padding: 0 5% 0 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.products-product-title {
  font-size: 20px;
}
.products-product-label {
  font-weight: 600;
  font-size: 12px;
}
.products-product-label-container {
  max-width: 50%;
  background-color: rgb(102, 202, 53);
  border-radius: 100px;
  padding: 0 5% 0 5%;
  max-height: 35px;
  min-height: 30px;
  display: flex;
  align-items: center;
}
.products-product-img {
  height: auto;
  max-height: 35%;
  max-width: 90%;
}
.products-product-separator {
  width: 90%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 15px 5%;
}
.product-description-title {
  margin-top: 0;
}
.products-product-description-container {
  padding: 0 5%;
  text-align: left;
  margin-bottom: 7%;
}
.products-product-description {
  font-size: 15px;
}
.products-product-btn-container {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(110, 229, 62);
  padding: 5px 50px;
  width: 30%;
  margin: auto;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.products-product-btn-container:hover {
  transform: scale(1.1);
  background-color: rgba(110, 229, 62, 0.8);
}
.products-product-btn-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
@media only screen and (min-width: 700px) {
  .products-product-container {
    width: 45%;
  }
}
@media only screen and (min-width: 1200px) {
  .products-product-container {
    width: 29%;
  }
}

/* ####################### Product ####################### */
.product-container {
  width: 100%;
  min-height: calc(95vh - 180px);
}
.product-content-container {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  margin: 5vh 10vw;
  padding: 5vh 5vw;
  min-height: 100%;
  height: 100%;
}
.product-back-link {
  text-decoration: none;
  display: none;
}
.product-back-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  width: 140px;
  height: 35px;
  /* border-radius: 100px; */
  align-items: center;
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}
.product-back-container:hover {
  /* background-color: rgba(110, 229, 62, 0.9); */
  transform: scale(1.1);
}
.product-back-icon {
  height: 100%;
  color: rgb(110, 229, 62);
  width: auto;
}
.product-back-text {
  font-size: 18px;
  font-weight: 500;
}
.product-right-section-container {
  position: static;
  width: 100%;
  height: 100%;
}
.product-title {
  margin: 0;
}
.product-label-container {
  background-color: rgb(102, 202, 53);
  display: flex;
  border-radius: 100px;
  padding: 5px 10px;
  height: 18px;
  justify-content: center;
  align-items: center;
  width: 35%;
  min-width: 150px;
  margin: 10px 0 30px 0;
  text-align: center;
}
.product-img-section {
  width: 100%;
  position: static;
  margin: 10px 0;
  text-align: center;
}
.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.product-galery-container {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: visible;
}
.product-galery-item-container {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(110, 229, 62, 0);
}
.product-galery-item-container:hover {
  transform: scale(1.2);
  border-color: rgba(110, 229, 62, 1);
}
.product-galery-item-img {
  width: 70px;
  height: auto;
}
.product-galery-item-container-selected {
  border-style: solid;
  border-width: 3px;
  border-color: rgba(110, 229, 62, 1);
}
.product-separator {
  margin: 20px 0;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
}
.product-description-title {
  margin-bottom: 10px;
}
.product-description {
  margin-top: 0;
  margin-bottom: 30px;
}
.product-specs {
  margin-top: 10px;
}
.product-contact-btn-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  justify-self: center;
}
.product-contact-btn-container {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(110, 229, 62);
  height: 30px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}
.product-contact-btn-container:hover {
  transform: scale(1.1);
  color: rgb(110, 229, 62);
}

@media only screen and (min-width: 800px) {
  .product-right-section-container {
    position: relative;
    top: 0;
    left: 50%;
    width: 50%;
  }
  .product-back-link {
    position: absolute;
    display: block;
  }
  .product-img-section {
    position: absolute;
    left: -100%;
    margin: 0;
    text-align: left;
  }
  .product-label-container {
    margin: 10px 0;
  }
  .product-img {
    width: 90%;
  }
}

/* ####################### Installation ####################### */
.installation-content-container {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  margin: 5vh 10vw;
  padding: 5vh 5vw;
  min-height: calc(80vh - 180px);
  height: 100%;
}
.installation-img-container {
  margin: auto;
  position: static;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.installation-img {
  width: 90%;
  height: auto;
}
.installation-title {
  text-align: center;
  margin-bottom: 0;
}
.installation-separator {
  width: 80%;
  background-color: rgb(255, 255, 255);
  height: 2px;
  position: relative;
  margin: 20px auto;
}
.installation-content {
  line-height: 30px;
  font-size: 15px;
}
@media only screen and (min-width: 1000px) {
  .installation-content {
    line-height: 40px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 800px) {
  .installation-img-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
  }
  .installation-img {
    width: 80%;
  }
}

/* ####################### Scroll ####################### */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border-radius: 6px;
}
