/* ####################### Whole Body ####################### */
body {
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  padding-top: 90px;
}
/* ####################### NavBar ####################### */
.nav-logo {
  width: 200px;
  align-self: center;
}
.nav {
  background-color: rgb(10, 10, 10);
  /* padding: 0px 3vw; */
  text-align: center;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
}
@media only screen and (max-width: 1373px) {
  .nav-items {
    display: none;
  }
  .burguer-menu {
    color: rgb(255, 255, 255);
    width: 40px;
    height: auto;
    position: absolute;
    top: 25px;
    left: 5vw;
  }
  .burguer-menu:hover {
    color: rgb(110, 229, 62);
  }
}
@media only screen and (min-width: 1371px) {
  .nav-items {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
  .burguer-menu {
    display: none;
  }
}
.pum-appear {
  transform: translateX(250px);
}
.pop-up-menu {
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  justify-content: center;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  right: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 100;
}
.pum-nav-items {
  padding: 0;
  list-style-type: none;
}
.pum-nav-item {
  margin-bottom: 8vh;
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}
.pum-nav-item:hover {
  transform: scale(1.1);
}
.nav-item {
  display: inline-block;
  margin-left: 5vw;
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}
.nav-item:hover {
  transform: scale(1.1);
}
.nav-item-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}
.nav-item-link:hover {
  color: rgb(110, 229, 62);
}
.contact {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(110, 229, 62);
  display: flex;
  width: 180px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* ####################### Footer ####################### */
.footer {
  background-color: rgb(10, 10, 10);
  width: auto;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 10vw;
  justify-content: space-between;
}
.footer-text {
  font-weight: 400;
  font-size: 15px;
}

/* ####################### Toggle de idioma ####################### */
.toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 100px;
  border-style: solid;
  border-color: rgb(84, 180, 45);
  border-width: 2 px;
  background-color: rgb(10, 10, 10);
  padding: 2px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 100;
}
.lang {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  font-size: 15px;
  border-radius: 50px;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.non-selected-lang {
  color: rgb(255, 255, 255);
}
.non-selected-lang:hover {
  color: rgb(84, 180, 45);
}
.selected-lang {
  color: rgb(255, 255, 255);
  background-color: rgb(95, 189, 58);
}
.translate-toggle {
  transform: translateX(40px);
}

/* ####################### Home ####################### */
.home-section1-container {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
}
.mini-fifa {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: auto;
}
.home-logo {
  width: 80%;
  height: auto;
  margin-bottom: 100px;
  z-index: 99;
}
.home-logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-background {
  height: 100%;
  width: auto;
  position: absolute;
}

.home-section2-container {
  justify-self: center;
  width: 98vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-section2-logo {
  display: none;
  height: 120px;
  width: auto;
}
.home-section2-content-container {
  padding: 8vw 12vw 8vw 12vw;
  width: 100%;
  text-align: center;
}
.home-section2-title {
  font-size: 25px;
  text-decoration-line: underline;
  text-decoration: underline solid white 3px;
  text-underline-offset: 20px;
  line-height: 60px;
}
.home-section2-content {
  font-size: 15px;
  line-height: 2;
}

.home-section3-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section3-background {
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: auto;
  min-width: 100%;
}
.home-section3-content-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8vw;
  margin: 6vw;
  position: static;
  z-index: 1;
  text-align: center;
}
.home-section3-text-container {
  width: 100%;
}
.home-section3-fifa {
  display: block;
  width: 100%;
  height: auto;
  max-width: 500px;
}

@media (orientation: landscape) {
  .home-section1-container {
    height: 650px;
  }
  .home-background {
    width: 100%;
  }
  .mini-fifa {
    right: 50px;
    bottom: 50px;
    height: 80px;
  }
  .home-logo {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .home-section2-logo {
    display: inline;
  }
  .home-section2-container {
    height: 400px;
  }
  .home-section2-content-container {
    width: 500px;
    padding: 2vw 0 2vw 5vw;
    text-align: left;
  }
  .home-section2-title {
    font-size: 30px;
    text-decoration: underline solid white 3px;
    text-underline-offset: 18px;
  }
  .home-section2-content {
    font-size: 20px;
    line-height: 2.3;
  }
  .home-section3-text-container {
    width: 50%;
    margin-right: 10vw;
  }
  .home-section3-fifa {
    display: block;
    width: auto;
  }
  .home-section3-content-container {
    padding: 2vw 5vw;
    flex-direction: row;
    text-align: left;
  }
  .home-section3-background {
    left: auto;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border-radius: 6px;
}
