/* ####################### Whole Body ####################### */
body {
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  padding-top: 100px;
}
/* ####################### NavBar ####################### */
.nav-logo {
  width: 200px;
  align-self: center;
}
.nav {
  background-color: rgb(10, 10, 10);
  /* padding: 0px 3vw; */
  text-align: center;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  top: 0;
}
@media only screen and (max-width: 1373px) {
  .nav-items {
    display: none;
  }
  .burguer-menu {
    color: rgb(255, 255, 255);
    width: 40px;
    height: auto;
    position: absolute;
    top: 25px;
    left: 5vw;
  }
  .burguer-menu:hover {
    color: rgb(110, 229, 62);
  }
}
@media only screen and (min-width: 1371px) {
  .nav-items {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
  .burguer-menu {
    display: none;
  }
}
.pum-appear {
  transform: translateX(250px);
}
.pop-up-menu {
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  justify-content: center;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  right: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.pum-nav-items {
  padding: 0;
  list-style-type: none;
}
.pum-nav-item {
  margin-bottom: 8vh;
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}
.pum-nav-item:hover {
  transform: scale(1.1);
}
.nav-item {
  display: inline-block;
  margin-left: 5vw;
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}
.nav-item:hover {
  transform: scale(1.1);
}
.nav-item-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}
.nav-item-link:hover {
  color: rgb(110, 229, 62);
}
.contact {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(110, 229, 62);
  display: flex;
  width: 180px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* ####################### Toggle de idioma ####################### */
.toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 100px;
  border-style: solid;
  border-color: rgb(84, 180, 45);
  border-width: 2 px;
  background-color: rgb(10, 10, 10);
  padding: 2px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.lang {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  font-size: 15px;
  border-radius: 50px;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.non-selected-lang {
  color: rgb(255, 255, 255);
}
.non-selected-lang:hover {
  color: rgb(84, 180, 45);
}
.selected-lang {
  color: rgb(255, 255, 255);
  background-color: rgb(95, 189, 58);
}
.translate-toggle {
  transform: translateX(40px);
}
